
#product-overview {
    color:rgb(255, 154, 221);
    font-family: 'Comforter Brush'; sans-serif;
}


body{
    background: #c9f0f7
}

#strawberry-image{
    width:80%;
}
#ellan-image{
    width:80%;
}